body {
  margin: 0;
  padding: 0;
  background: pink;
  font-family: Arial, sans-serif;
}

h1 {
  color: black;
  font-family: cursive;
  font-size: 50px;
  text-align: center;
}

h2 {
  text-align: center;
  font-family: cursive;
}

p {
  margin: 15px;
  font-size: 18px;
  line-height: 1.6;
  font-family: cursive;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: hotpink;
}

ul.nav li {
  float: left;
  font-family: cursive;
}

ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav li a:hover {
  background-color: pink;
}

 width="500" 
 height="600"

iframe {
  display: block;
  margin: 20px auto;
  width: 392;
  height: 620; 
  style: border: 0px;
  width: 392;
  height: 620;
  style: border: 0px;
  width: 440; 
  height: 757;
  style: border: 0px; 
}

.aboutMe{
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
}
.bestWork{
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
}
.future{
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
}
.growth{
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
}

